* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf");
}

body {
  display: flex;
  height: 100vh;
}

.background-container {
  background-image: url(./images/halie-west-unsplash.jpg);
  background-size: cover;
  width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.background-header {
  font-family: "Norse Bold";
  font-size: 48px;
  color: white;
  background-color: #00000080;
  margin-top: 40%;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-header img {
  height: 125px;
}

.background-footer {
  color: white;
  padding: 20px;
  font-size: 18px;
}

.background-footer a {
  color: white;
}